/Hmwk/Gaddis_8thEd_ch2_Q8/dist/
/Hmwk/Gaddis_8thEd_ch2_Q8/build/
/Hmwk/Gaddis_8thEd_Ch2_Q10/dist/
/Hmwk/Gaddis_8thEd_Ch2_Q10/build/
/Hmwk/Gaddis_8thEd_ch2_Q11/dist/
/Hmwk/Gaddis_8thEd_ch2_Q11/build/
/Hmwk/Gaddis_8thEd_Ch2_Q12/build/
/Hmwk/Gaddis_8thEd_Ch2_Q12/dist/
/Hmwk/Gaddis_8thEd_Ch2_Q13/build/
/Hmwk/Gaddis_8thEd_Ch2_Q13/dist/
/Hmwk/Gaddis_8thEd_Ch2_Q14/dist/
/Hmwk/Gaddis_8thEd_Ch2_Q14/build/
/Class_Lab/RollTheDiceToAFile/build/
/Class_Lab/RollTheDiceToAFile/dist/
/Hmwk/Gaddis_8thEd_Ch3_Q22/build/
/Hmwk/Gaddis_8thEd_Ch3_Q22/dist/
/Hmwk/Assignment2/Gaddis_8thEd_Ch3_Q22/build/
/Hmwk/Assignment2/Gaddis_8thEd_Ch3_Q22/dist/
/Class_Lab/Gaddis_8thEd_Ch3_Q19/build/
/Class_Lab/Gaddis_8thEd_Ch3_Q19/dist/
/Class_Lab/TruthTable/dist/
/Class_Lab/TruthTable/build/
/Hmwk/Assignment2/Gaddis_7thEd_Ch3_Q11/dist/
/Hmwk/Assignment2/Gaddis_7thEd_Ch3_Q11/build/
/Hmwk/Assignment2/Savitch_8thEd_Ch2_Q1/dist/
/Hmwk/Assignment2/Savitch_8thEd_Ch2_Q1/build/
/Hmwk/Assignment2/Savitch_8thEd_Ch2_Q12/build/
/Hmwk/Assignment2/Savitch_8thEd_Ch2_Q12/dist/